<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>AdminLTE | Dashboard</title>
    @*<title>@ViewBag.Title - My ASP.NET Application</title>*@
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>


    @Styles.Render("~/Content/css/bootstrap")
    @Styles.Render("~/Content/css/AdminLTE")
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />


    @Styles.Render("~/Content/css/bootstrap-slider")
    @Styles.Render("~/Content/css/bootstrap-wysihtml5")
    @Styles.Render("~/Content/css/colorpicker")
    @Styles.Render("~/Content/css/datatables")
    @Styles.Render("~/Content/css/datepicker")
    @Styles.Render("~/Content/css/daterangepicker")
    @Styles.Render("~/Content/css/iCheck")
    @Styles.Render("~/Content/css/ionslider")
    @Styles.Render("~/Content/css/jvectormap")
    @Styles.Render("~/Content/css/morris")
    @Styles.Render("~/Content/css/timepicker")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/raphael")
    @Scripts.Render("~/bundles/bootstrap-slider")
    @Scripts.Render("~/bundles/bootstrap-wysihtml5")
    @Scripts.Render("~/bundles/colorpicker")
    @Scripts.Render("~/bundles/datatables")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/daterangepicker")
    @Scripts.Render("~/bundles/flot")
    @Scripts.Render("~/bundles/iCheck")
    @Scripts.Render("~/bundles/input-mask")
    @Scripts.Render("~/bundles/ionslider")
    @Scripts.Render("~/bundles/jqueryKnob")
    @Scripts.Render("~/bundles/jvectormap")
    @Scripts.Render("~/bundles/misc")
    @Scripts.Render("~/bundles/morris")
    @Scripts.Render("~/bundles/slimScroll")
    @Scripts.Render("~/bundles/sparkline")
    @Scripts.Render("~/bundles/timepicker")
    @Scripts.Render("~/bundles/AdminLTE")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
